@import (reference) 'global.less';

.header {
  background: .color.grey[lightest];
  padding: .padding[small];
}

.content {
  padding: .padding[small];
}

.isCollapsed {
  .content {
    display: none;
  }
}