@import (reference) 'global.less';

.views {
  width: 100vw;
  display: block;
  left: 0;

  @media screen and (min-width: 1400px) {
    overflow-y: scroll;
  }
}

.page {
  width: 100%;

  @media screen and (max-width: 1399px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  @media screen and (min-width: 1400px) {
    overflow-y: scroll;
  }
}

.pageIsInactive {
  display: none;
}